<a href="https://colab.research.google.com/github/blackbirdddd/taskone/blob/main/taskone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

collections.counter()

In [11]:
print("welcome to addidas store\t")
n = int(input())
shoes = list(map(int, input().split()))

customers = int(input())

total = 0

for i in range(customers):
    size, price = map(int, input().split())

    if size in shoes:
        total += price
        shoes.remove(size)

print(total)

welcome to addidas store
enter the number of shoes you have pls
 ...>
10
enter the number of customers pls
 ...>6
([35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], {'size_shoes_count': 10, 'price': 50, 'brand': 'addidas'})

second problem

In [3]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

n = int(input())

m = int(input())


A = []
for i in range(n):
    A.append(input())


B = []
for i in range(m):
    B.append(input())


for word in B:
    found = False

    for i in range(n):
        if A[i] == word:
            print(i + 1, end=" ")
            found = True

    if not found:
        print(-1)
    else:
        print()

3
2
a
b
c
d
f
-1
-1

\collections.nametuple()

In [4]:
n = int(input())

columns = input().split()

marks_index = 0
for i in range(len(columns)):
    if columns[i] == "MARKS":
        marks_index = i
        break

total_marks = 0

for i in range(n):
    data = input().split()
    total_marks += int(data[marks_index])

average = total_marks / n

print(f"{average:.2f}")

4
4
3
3
8
5
4.75

collections .orderddict()

In [ ]:
n = int(input())

items = {}

for i in range(n):
    parts = input().split()
    price = int(parts[-1])
    name = " ".join(parts[:-1])
    if name in items:
        items[name] += price
    else:
        items[name] = price

for name in items:
    print(name, items[name])

fifth problem

In [5]:
n = int(input())

words = []
counts = []

for i in range(n):
    w = input()
    if w in words:
        index = words.index(w)
        counts[index] += 1
    else:
        words.append(w)
        counts.append(1)

print(len(words))
for c in counts:
    print(c, end=" ")

5
5
8
9
9
0
4
1 1 2 1

collections.deque()

In [ ]:
dq = []

for _ in range(int(input())):
    s = input()
    if "appendleft" in s:
        dq = [s.split()[1]] + dq
    elif "append" in s:
        dq += [s.split()[1]]
    elif "popleft" in s and dq:
        dq = dq[1:]
    elif "pop" in s and dq:
        dq = dq[:-1]

print(" ".join(dq))

There is a horizontal row of  cubes.

In [ ]:
for _ in range(int(input())):
    n = int(input())
    cubes = list(map(int, input().split()))
    top = max(cubes) + 1
    left = 0
    right = n - 1
    while left <= right:
        if cubes[left] <= top and (cubes[left] >= cubes[right] or cubes[right] > top):
            top = cubes[left]
            left += 1
        elif cubes[right] <= top:
            top = cubes[right]
            right -= 1
        else:
            break
    print("Yes" if left > right else "No")

company logoooooo

In [ ]:
s = input()
count = {}

for c in s:
    if c in count:
        count[c] += 1
    else:
        count[c] = 1

items = list(count.items())
items.sort(key=lambda x: (-x[1], x[0]))

for i in range(3):
    print(items[i][0], items[i][1])

symetric . diffrence

In [ ]:
n1 = int(input())
eng = set(input().split())
n2 = int(input())
fr = set(input().split())

result = eng.symmetric_difference(fr)
print(len(result))

set_mutations

In [ ]:
n = int(input())
A = set()
for _ in range(n):
    A.add(int(input()))

N = int(input())
for _ in range(N):
    line = input().split()
    op = line[0]
    m = int(line[1])
    other = set()
    for _ in range(m):
        other.add(int(input()))

    if op == "update":
        A.update(other)
    elif op == "intersection_update":
        A.intersection_update(other)
    elif op == "difference_update":
        A.difference_update(other)
    elif op == "symmetric_difference_update":
        A.symmetric_difference_update(other)

total = 0
for x in A:
    total += x

print(total)

python if _else

In [ ]:
n = int(input())

if n % 2 == 1:
    print("Weird")
else:
    if 2 <= n <= 5:
        print("Not Weird")
    elif 6 <= n <= 20:
        print("Weird")
    else:  # n > 20
        print("Not Weird")

arthimatic operations

In [ ]:
a = int(input())
b = int(input())

print(a + b)
print(a - b)
print(a * b)

division

In [ ]:
a = int(input())
b = int(input())

print(a // b)
print(a / b)

loops

In [ ]:
n = int(input())

for i in range(n):
    print(i * i)

write a function is leaf year or not

In [ ]:
def is_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 == 0:
        return True
    else:
        return False

print func

In [6]:
n = int(input())

for i in range(1, n+1):
    print(i, end="")

3
123

maxmize it

list comprehansion

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

result = []
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i + j + k != n:
                result.append([i, j, k])

print(result)

finding precentage

In [ ]:
n = int(input())
student_marks = {}

for _ in range(n):
    data = input().split()
    name = data[0]
    marks = []
    for mark in data[1:]:
        marks.append(float(mark))  # تحويل كل درجة لعدد عشري
    student_marks[name] = marks

query_name = input()

marks_list = student_marks[query_name]
average = sum(marks_list) / len(marks_list)

print("{:.2f}".format(average))

swaping

In [ ]:
def swap_case(s):
    res = ""
    for c in s:
        if c.islower():
            res += c.upper()
        elif c.isupper():
            res += c.lower()
        else:
            res += c
    return res

s = input()
print(swap_case(s))

string split

In [ ]:
def split_and_join(line):
    words = line.split(" ")
    return "-".join(words)

s = input()
print(split_and_join(s))

what is your name

In [ ]:
def print_full_name(first, last):
    print("Hello", first, last + "! You just delved into python.")

first_name = input()
last_name = input()
print_full_name(first_name, last_name)

string validators

In [ ]:
  s = input()

    # 1. Alphanumeric check
    print(any(char.isalnum() for char in s))

    # 2. Alphabetical check
    print(any(char.isalpha() for char in s))

    # 3. Digit check
    print(any(char.isdigit() for char in s))

    # 4. Lowercase check
    print(any(char.islower() for char in s))

    # 5. Uppercase check
    print(any(char.isupper() for char in s))

lists

In [ ]:
if __name__ == '__main__':
    # N is the number of commands
    try:
        N = int(input().strip())
    except EOFError:
        N = 0

    my_list = []

    for _ in range(N):
        # .split() handles multiple spaces and breaks the line into parts
        args = input().strip().split()
        command = args[0]

        if command == "insert":
            my_list.insert(int(args[1]), int(args[2]))
        elif command == "print":
            print(my_list)
        elif command == "remove":
            my_list.remove(int(args[1]))
        elif command == "append":
            my_list.append(int(args[1]))
        elif command == "sort":
            my_list.sort()
        elif command == "pop":
            my_list.pop()
        elif command == "reverse":
            my_list.reverse()